.spectrum-container {
    text-align: center;
    display: flex;
    align-self: center;
    height: 100%;
    width: 100%;
    max-width: 4000px;
}

.spectrum-item {
    width: 100%;
}

.spectrum-item-title {
    color: white;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
}

.strongly-disagree {
    background-color: #e74c3c;
}

.disagree {
    background-color: #f39c12;
}

.somewhat-disagree {
    background-color: #fdcb6e;
}

.undecided {
    background-color:#2ecc71;
}

.somewhat-agree {
    background-color: #0984e3;
}

.agree {
    background-color: #2980b9;
}

.strongly-agree {
    background-color: #8e44ad;
}

.dot {
    color: white;
    text-align: center;
    padding: 33px 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}