.bottom-container {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.prompt-container {
  height: 10%;
  text-align: center;
}

.spectrum-container {
  text-align: center;
  display: flex;
  align-self: center;
  height: 100%;
  width: 100%;
  max-width: 4000px;
}

.spectrum-item {
  width: 100%;
}

.spectrum-item-title {
  color: #2b2b2b;
  margin: 20px 0;
  font-size: 34px;
}

.skip-buttons {
  position: absolute !important;
  right: 50% !important;
  bottom: 20px !important;
  transform: translateX(50%) !important;
}

.skip-button-text {
  margin-left: 10px;
}

.avatars-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-header {
    margin: 0 auto;
}

.mobal-body-text{
    font-weight: 400px;
    margin: 0 auto;
}