.avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-image-container {
  margin: 20px;
  max-width: 150px;
  text-align: center;
}

.avatar-image {
  width: 50px;
}

.user-name-container {
  margin: 0 auto;
  background-color: black;
  border-radius: 8px;
  padding: 0 10px;
  text-align: center;
}

.user-name-container h4 {
  color: white;
  font-size: 16px;
  margin: 0;
}

.crown-icon {
  position: relative;
  display: flex;
  color: yellow;
  transform: translateX(-50%);
}

.is-speaker {
  transform: translateY(-16px);
}