.avatar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatar-image-container {
  margin: 0 20px;
}

.avatar-image {
  width: 60px;
}

.user-name-container {
  margin: 0 auto;
  background-color: rgb(91 98 138);
  border-radius: 8px;
  padding: 0 5px;
  text-align: center;
}

.user-name-container h4 {
  color: white;
  font-size: 14px;
  margin: 0;
}