label {
  text-align: left;
}

.title {
  text-align: center;
  margin: 20px 0;
}

.form-container {
  width: 400px;
  margin: 0 auto;
}

.toggle-button-container {
  width: 100%;
  margin: 10px 0;
}

.toggle-button {
  margin: 0 auto;
  width: 100%;
}