.room-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.video-container {
    overflow: hidden;
    position: relative;
}

.videos-container {
    display: grid;
    height: 50%;
    grid-template-columns: repeat(5, minmax(250px, 1fr));
}

video {

}