.room-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.video-container {
    overflow: hidden;
    position: relative;
}

.videos-container {
    display: grid;
    height: 50%;
}

.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.max-five {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
}

.floating-text {
    color: white
}

.yellow {
    color: yellow !important
}

.panel {
    background-color: black;
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 8px 16px 0px 16px;
    border-radius: 16px;
}
